$light-grey-color: rgb(127, 127, 127);
$dark-grey-color: rgb(90, 90, 90);
$lightest-grey-color: rgb(233, 233, 233);

$white-color: rgb(255, 255, 255);
$black-color: rgb(35, 35, 35);
$sky-blue-color: rgb(33, 134, 198);

