@import "variables";

.navbar {
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 4rem;


  a {
    text-decoration: none;
    color: $black-color;
  }
  .wrapper {
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    .item {
      padding-left: 0;
      display: flex;
      align-items: center;
      font-size: 1rem;
      cursor: pointer;
     
    }
    .signout{
      margin-left: 1.5rem;
    }
    .left,
    .right {
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }
    .center {
      font-size: 2rem;
    }
    .storeIcons {
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }
    .cart {
      position: relative;
      span {
        position: absolute;
        top: -0.6rem;
        left: 0.6rem;
        background-color: $sky-blue-color;
        color: $white-color;
        width: 1.2rem;
        height: 1.2rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        padding: .2rem;
      }
    }
  }
}
